.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

#header{
    text-align: center;
}

#file-inputs{
    display: grid;
    grid-template: auto /auto auto;
    gap: 10px 5%;    
    justify-content: center;
}

#regression-inputs{
    position:relative;
    align-self: center;

}

#process-button{
    grid-column: span 2;
    width: auto;
}

.chart-container{
    margin: auto;
    height: 70vh;
    width: 50vw;
    margin-right: 1%;
}
#table-container{
    display: flex;
    position: relative;
    justify-content: center;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description>p{
    width: 40%;
}

.description>img{
    width:40%;
}
#header{
    border-bottom: dashed;
}

#template-diagram{
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 1%;
    width: fit-content;
    margin-left: 1%;
}
#template-diagram>div{
    height: 6vh;
    width: 3vw;
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.well{ 
    font-weight: bolder;
    justify-content: center;
    background-color: #ff69695c;
}
.well .hovertext{
    visibility: hidden;
    width: 120px;
    background-color: rgba(53, 48, 48, 0.709);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: medium;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.well:hover .hovertext {
    visibility: visible;
}
#chart-template-container{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

table{
    border-style: solid;
    width: 50vw;
}
thead{
    background-color: #dddddd7c;
}