.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}

#header{
    text-align: center;
}

#file-inputs{
    display: grid;
    grid-template: auto /auto auto;
    gap: 10px 5%;    
    justify-content: center;
}

#regression-inputs{
    position:relative;
    align-self: center;

}

#process-button{
    grid-column: span 2;
    width: auto;
}

.chart-container{
    position: relative;
    margin: auto;
    height: 60vh;
    width: 100vh;
}
#table-container{
    display: flex;
    position: relative;
    justify-content: center;
}

table{
    border-style: solid;    
}
body{
    background-color: rgba(240, 248, 255, 0.658);
}

td{
    width: 20vh;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.description>p{
    width: 40%;
    border-style: dashed;
    border-color: rgba(255, 0, 0, 0.52);
}

.description>img{
    width:40%;
}